$primary-font: 'Poppins',sans-serif;
$primary-text-color: #8F95A5;
$text-color:#263238;
$title-color:#000000;
$subtitle-color:#2A3246;
$button-color:#000000;
$alternative-color: #FFFFFF;
$logo-primary-color:#000000;
$logo-seconadary-color:#939393;
$acent-color:#263238;
$background-color:#F5F5F5;

$transition-time: 300ms;
$transition-fumction: cubic-bezier(0.4, 0, 0.2, 1);